@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
  font-size: 14px;
}

:root {
  --cor0--: #F8560A;
  --color-text: #363537;
  --cor2--: #FE9920;
  --color-hover: #F45B69;
  --cor4--: #D295BF;
  --background--: #F4F4F4;
}

/* body {
  padding-left: 5%;
  padding-right: 5%;
} */


header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  /*   align-items: center;
 */

  padding-bottom: 40px;


  position: sticky;
  top: 0px;
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(255, 255, 255);
  z-index: 9999999;
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 10rem;


}



.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.navbar {
  display: flex;
  justify-content: center !important;
  align-items: center;

}

header .nav-link {

  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
}

.nav-tabs {
  --bs-border-color: none;
}

header .nav-link:hover {
  color: var(--color-hover);
  border: none;

}

.nav-tabs .nav-link {
  border: none ! important;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 0.5rem;
  margin: 10px;
}


#logo {
  width: 10rem;
}

.hamburger-menu {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

#nav-menu.hidden {
  display: none;
}

a.nav-link.active {
  background-color: transparent !important;
}

/**body*/
.doacao {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 35rem;

  padding-left: 5%;
  padding-right: 5%;
}

.doacao>div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background--);
  padding: 20px;
  height: 35rem;
}

.section-doacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-text);
  text-align: justify;
  background-color: var(--background--);
  /* Corrigido: estava como --bakcground-- */
  height: 35rem;
  flex: 1;
}

.doacao #carouselExampleSlidesOnly img {
  height: 30rem;
}

.titulo {
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

.missao {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 35rem;

  padding-left: 5%;
  padding-right: 5%;
}

.missao>div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background--);
  padding: 20px;
  height: 35rem;
}

.section-missao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-text);
  text-align: justify;
  background-color: var(--background--);
  height: 35rem;
  flex: 1;
}

.missao #carouselExampleSlidesOnly img {
  height: 30rem;
}

.titulo {
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}

.trabalho {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 35rem;

  padding-left: 5%;
  padding-right: 5%;
}

.trabalho>div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background--);
  padding: 20px;
  height: 35rem;
}

.section-trabalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--color-text);
  text-align: justify;
  background-color: var(--background--);
  height: 35rem;
  flex: 1;
}

.trabalho #carouselExampleSlidesOnly img {
  height: 30rem;
}

.titulo {
  text-align: center;
  font-weight: 600;
  padding: 2rem;
}




footer {
  background-color: var(--color-text);
  color: #fff;

}






#rodape {
  display: flex;
  justify-content: center;
  padding-top: 2rem;





}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}

footer a:hover {
  color: var(--color-hover);
}

footer ul {
  list-style: none;
}

footer h4 {
  font-size: 16px;
}


footer .mensage {
  font-size: 11px;
}




/* Responsividade para dispositivos grandes */
@media (max-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    padding-bottom: 40px;



    position: sticky;
    top: 0px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(255, 255, 255);
    z-index: 9999999;
    height: 2.5rem;
    padding-top: 2.5rem;
    height: auto;

  }


  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }




  .doacao {
    padding-left: 5%;
    padding-right: 5%;
  }

  .doacao,
  .missao,
  .trabalho {
    flex-direction: column;
    height: auto;
  }

  .doacao>div,
  .section-doacao {
    height: auto;
    padding: 10px;
  }

  main,
  section.noticias {
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    padding: 1rem;
  }

  .depoimentos {
    flex-direction: column;
    gap: 2rem;
  }
}


@media (max-width: 924px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}


/* Responsividade para tablets */
@media (max-width: 768px) {
  header {
    padding: 10px;
    gap: 20px;
    padding-bottom: 20px;


    position: sticky;
    top: 0px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(255, 255, 255);
    z-index: 9999999;
    height: 2.5rem;
    padding-top: 4.5rem;
    padding-bottom: 6rem;



  }


  
.header-logo{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  
}


.navbar{
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 100%;

  
}






  .hamburger-menu {
    display: block;
  }

  #nav-menu {
    display: none;
    flex-direction: column;
    background-color: var(--background--);
    position: absolute;
  
    padding-top: 50px;
    gap: 10px;
    z-index: 9;
    width: 100%;
  }

  #nav-menu.show {
    display: flex;
    width: 100%;
  }




  main,
  section.noticias {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .card {
    width: 100%;
  }

  .depoimentos {
    padding: 1rem;
    gap: 1rem;
  }

  .input-wrapper {
    width: 80%;
  }

  footer {
    text-align: center;
    padding: 1rem;
  }
}


/* Responsividade para smartphones */
@media (max-width: 480px) {
  header {
    padding: 5px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .doacao {
    padding: 5px;
  }

  .section-doacao {
    text-align: center;
    padding: 10px;
  }


  footer {
    font-size: 0.8rem;
  }
}

