@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
    font-size: 14px;
}

:root {
    --cor0--: #F8560A;
    --color-text: #363537;
    --cor2--: #FE9920;
    --color-hover: #F45B69;
    --cor4--: #D295BF;
    --background--: #F4F4F4;
}

/* body {
  padding-left: 5%;
  padding-right: 5%;
} */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    padding-bottom: 40px;



    position: sticky;
    top: 0px;
    transition: background-color 0.3s, color 0.3s;
    background-color: rgb(255, 255, 255);
    z-index: 9999999;
    height: 2.5rem;
    padding-top: 2.5rem;






}

header .nav-link {



    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;

}

.nav-tabs {
    --bs-border-color: none;
}




header .nav-link:hover {
    color: var(--color-hover);
    border: none;

}


.nav-tabs .nav-link {
    border: none ! important;
}



.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 0.5rem;
    margin: 10px;
}




#logo {
    width: 8rem;
}


a.nav-link.active {
    background-color: transparent !important;
}


.hamburger-menu {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--color-text);
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

}

#nav-menu.hidden {
    display: none;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.accordion-button:not(.collapsed) {
    color: var(--color-text);
}

h2 {
    color: var(--color-text);
}


.accordion-body {
    color: var(--color-text);
}




.accordion {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}






.accordion-item>.accordion-header .accordion-button {
    background-color: transparent;
}












footer {
    background-color: var(--color-text);
    color: #fff;


}

footer a {
    color: #fff;
    text-decoration: none;
}


footer ul {
    list-style: none;
}



/* Responsividade para dispositivos grandes */
@media (max-width: 1200px) {
    header {
        flex-direction: column;
        align-items: center;



        position: sticky;
        top: 0px;
        transition: background-color 0.3s, color 0.3s;
        background-color: rgb(255, 255, 255);
        z-index: 9999999;
        height: 2.5rem;
        padding-top: 2.5rem;





    }
}

@media (max-width: 924px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        position: sticky;
        top: 0px;
        transition: background-color 0.3s, color 0.3s;
        background-color: rgb(255, 255, 255);
        z-index: 9999999;
        height: 2.5rem;
        padding-top: 2.5rem;




    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
    }
}


.accordion {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}







/* Responsividade para tablets */
@media (max-width: 768px) {
    header {
        padding: 10px;
        gap: 20px;
        padding-bottom: 20px;



        position: sticky;
        top: 0px;
        transition: background-color 0.3s, color 0.3s;
        background-color: rgb(255, 255, 255);
        z-index: 9999999;
        height: 2.5rem;
        padding-top: 2.5rem;



    }


    .hamburger-menu {
        display: block;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        background-color: var(--background--);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 10px;
        gap: 10px;
        z-index: 9;
    }

    #nav-menu.show {
        display: flex;
    }



    main {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .input-wrapper {
        width: 80%;
    }

    footer {
        text-align: center;
        padding: 1rem;
    }
}

/* Responsividade para smartphones */
@media (max-width: 480px) {
    header {
        padding: 5px;


        position: sticky;
        top: 0px;
        transition: background-color 0.3s, color 0.3s;
        background-color: rgb(255, 255, 255);
        z-index: 9999999;
        height: 2.5rem;
        padding-top: 2.5rem;



    }



    .input-wrapper {
        width: 90%;
    }

    h1,
    .titulo {
        font-size: 1.5rem;
        padding: 1rem;
    }

    footer {
        font-size: 0.8rem;
    }
}